.buttonContainer
{
    background-color: #808080;

    display: flex;
    justify-content: space-between;

    border: groove;
    width: 650px;

    padding: 25px;
}

.homeLink
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#homeLink1
{
    color: #ff0000;
}

#homeLink1:hover
{
    background-color: #00ffff;
}

#homeLink2
{
    color: #008000;
}

#homeLink2:hover
{
    background-color: #ff00ff;
}

#homeLink3
{
    color: #0000ff;
}

#homeLink3:hover
{
    background-color: #ffff00;
}

.pageLink
{
    font-family: cursive;
}

#page1Link
{
    color: #ff0000;
}

#page2Link
{
    color: #008000;
}

#page3Link
{
    color: #0000ff;
}